<section class="container">
  <section class="error">
    <div *ngIf="showIncorrectPasswordError">
      <span  class="error-message t-r">Incorrect Password</span>
    </div>
    <div *ngIf="showNotApprovedMsg">
      <span  class="error-message t-r">Admin has not approved the visibility</span>
    </div>
    <div *ngIf="showNoUser">
      <span  class="error-message t-r">User not found, please register</span>
    </div>
  </section>
  
  
  <div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="form-control" [(ngModel)]="user.email">
      </div>
    
      <div class="form-group">
        <label for="password">Password</label>
       
        <input type="{{ isPasswordVisible ? 'text' : 'password' }}" [(ngModel)]="user.password"
        name="password" class="form-control" id="password">
        <span class="password-toggle-icon" [class.fa-eye]="isPasswordVisible"
        [class.fa-eye-slash]="!isPasswordVisible" (click)="togglePasswordVisibility()"></span>
      </div>
    
      <button type="submit" class="btn btn-primary" (click)="getUserDetails()" >Login</button>
    </div>

</section>
    